.List {
  list-style: none;
  padding: 10px 30px;
}

.List__item {
  border-bottom: solid 1px;
  margin: 10px 0 0;
  height: 2em;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  cursor: pointer;
}

.List__item--heading {
  display: flex;
  gap: 10vw;
  align-items: baseline;
  padding-bottom: 15px;
}

.List__item--date {
  font-weight: 200;
  font-size: 1.3em;
}

.List__item--title {
  font-size: 1.3rem;
}

.List__item.m-expand {
  height: 150px;
}
