.List {
  list-style: none;
  padding: 10px 30px;
}

.List__item {
  border-bottom: solid 2px;
  margin: 30px 0 0;
  height: 3rem;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  cursor: pointer;
}

.List__item--heading {
  display: flex;
  gap: 10vw;
  align-items: baseline;
  padding-bottom: 15px;
}

.List__item--date {
  font-weight: 300;
  font-size: 1.4rem;
}

.List__item--title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--grey);
}

.List__item.m-expand {
  height: 150px;
}
