:root {
  --black: #121212;
  --white: #fff;
}

:root.m-dark {
  --black: #fff;
  --white: #121212;
}

* {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--white);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px;
  margin: 0 30px;
}

h1 {
  font-size: 10vw;
  font-weight: 900;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__buttons button:nth-of-type(2) {
  margin: 0 0 0 20px;
}

.header__buttons--contrast {
  color: var(--black);
}

.header__buttons--add {
  background-color: rgb(60, 60, 255);
  color: #fff;
}

.header__buttons--signOut {
  background-color: #fecb02;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 40px;
}

.form__heading {
  padding: 0 0 20px;
  font-size: 1.5em;
  font-weight: 500;
}

.form__title {
  padding: 0 0 5px;
  font-weight: 300;
}

.form__content {
  padding: 15px 0 5px;
  font-weight: 300;
}

.form__submit--button {
  width: 15%;
  border-radius: 5px;
  border: 0.5px solid black;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
}

.modal__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(240, 240, 240);
  border: solid 0.5px;
  border-radius: 30px;
}

.model__inner--cancelButton {
  display: flex;
  justify-content: center;
  align-self: end;
  margin: 10px 10px;
  background-color: red;
  color: white;
  font-weight: 400;
}
